{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load store_tags %}

{% block title %}Favourites{% endblock title %}

{% block content %}
<div class="container text-center my-5 position-relative">
    {% if books %}
        <h2 class="mb-4">Избранное</h2>
    {% else %}
        <h2 class="mb-4">Упс.. Ничего не найдено..</h2>
    {% endif %}
    <div class="row justify-content-md-center" id="book-items-container">
        {% for book in books %}
            <div class="col-md-auto">
                <div class="card text-center mb-3" style="width: 11rem;">
                    <div class="position-relative">
                        <a href="{{ book.get_absolute_url }}"><img src="{% if book.image %}{{ book.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top width="250" height="280"" alt="{{ book.title }}"></a>
                        {% if book in user.favorite_products.all %}
                            <a href="{% url "user:favorite_remove"%}" 
                                class="badge bg-dark position-absolute top-0 start-0 favorite_remove"
                                data-product-id="{{ book.id }}">
                                {% csrf_token %}
                                {% bs_icon 'bookmark-dash' size='1.5em' %}
                            </a>
                        {% else %}
                            <a href="{% url "user:favorite_add" %}"     
                                class="badge bg-dark position-absolute top-0 start-0 favorite_add"
                                data-product-id="{{ book.id }}">
                                {% csrf_token %}
                                {% bs_icon 'bookmark-plus' size='1.5em' %}
                            </a>
                        {% endif %}
                        {% if book.discount %}
                            <span class="badge bg-dark position-absolute top-0 end-0" style="font-size: 18px; ">-{{ book.discount }}%</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">{{ book.name|truncatechars:14 }}</h6>
                        <h6 class="card-subtitle mb-2">
                            {% for a in book.author.all %}
                                <a href="{{ a.get_absolute_url }}" class="text-muted text-decoration-none" style="font-size: 15px;">{{ a.name|truncatechars:14 }}</a>
                            {% endfor %}
                        </h6>
                        {% if book.discount %}
                            <a href="{% url "cart:cart_add" %}"     
                                class="btn btn-dark add-to-cart"
                                data-product-id="{{ book.id }}">
                                {% csrf_token %}
                                {% bs_icon 'basket2-fill' size='0.9em' %}{{ book.total_price }}₽
                            </a>
                            <span class="text-decoration-line-through text-secondary" style="font-size: 10px;">{{ book.price }}</span>
                        {% else %}
                            <a href="{% url "cart:cart_add"%}" 
                                class="btn btn-dark add-to-cart"
                                data-product-id="{{ book.id }}">
                                {% csrf_token %}
                                {% bs_icon 'basket2-fill' size='0.9em' %}{{ book.price }}₽
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if books %}
    <nav aria-label="Пагинация">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not books.has_previous %}disabled{% endif %}">
                <a class="page-link text-dark " href="{% if books.has_previous %}?{% change_params page=books.previous_page_number %}{% else %}#{% endif %}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in books.paginator.page_range %}
                {% if page >= books.number|add:-2 and page <= books.number|add:2 %}
                    <li class="page-item {% if books.number == page %}active{% endif %}">
                        <a class="page-link text-dark bg-white" href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link text-dark " href="{% if books.has_next %}?{% change_params page=books.next_page_number %}{% else %}#{% endif %}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}