{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}


{% block title %}
    {{ book.name }}
{% endblock title %}
    
{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ book.image.url }}" class="img-fluid rounded" alt="{{ book.title }}">
            </div>
            <div class="col-md-8">
                <h1>
                    {{ book.name }}
                    {% if book.discount %}
                        <span class="badge rounded-pill bg-Dark fs-6 text position-absolute mt-1 ms-2">-{{ book.discount }}%</span>
                    {% endif %}
                </h1>
                <p>
                    {% for a in book.author.all %}
                        <a href="{{ a.get_absolute_url }}" class="link-dark text-decoration-none fs-5 text">{{ a.name }}</a>
                    {% endfor %}
                    <br>
                    {% for c in book.category.all %}
                        <a href="{{ c.get_absolute_url }}" class="link-dark text-decoration-none">{{ c.name }}</a>
                    {% endfor %}
                    <br>
                    {{ book.published_date }}
                </p>
                <hr>
                <p>{{ book.description }}</p>
                <hr>
                <div class="row">
                    <div class="col-md-6"> 
                        {% if book.discount %}
                            <p>
                                <strong>Цена:</strong> <span class="fs-5">{{ book.total_price }}</span> ₽ <span class="fs-7 text-decoration-line-through text-secondary">{{ book.price }}</span>
                            </p>
                        {% else %}
                            <p>
                                <strong>Цена:</strong> {{ book.price }} ₽
                            </p>
                        {% endif %}
                        <p>
                            <strong>ID товара:</strong> {{ book.display_id }}
                        </p>
                        <a href="{% url "cart:cart_add" %}" 
                            class="btn btn-dark mb-3 add-to-cart"
                            data-product-id="{{ book.id }}">
                            {% csrf_token %}
                            {% bs_icon 'basket2-fill' size='0.9em' %}Добавить в корзину
                        </a>
                    </div>
                    <br>
                    <hr>
                    <p><strong>Похожее:</strong></p>
                    <div class="row justify-content-md-center">
                        {% for book in similar_books %}
                            <div class="col-md-auto">
                                <div class="card text-center mb-3" style="width: 9rem;">
                                    <div class="position-relative">
                                        <a href="{{ book.get_absolute_url }}"><img src="{% if book.image %}{{ book.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top width="250" height="250"" alt="{{ book.title }}"></a>
                                        {% if book.discount %}
                                            <span class="badge bg-dark position-absolute top-0 end-0" style="font-size: 18px; ">-{{ book.discount }}%</span>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.name|truncatechars:11 }}</h6>
                                        <h6 class="card-subtitle mb-2">
                                            {% for a in book.author.all %}
                                                <a href="{{ a.get_absolute_url }}" class="text-muted text-decoration-none" style="font-size: 15px;">{{ a.name|truncatechars:11 }}</a>
                                            {% endfor %}
                                        </h6>
                                        {% if book.discount %}
                                            <a href="{% url "cart:cart_add" %}"     
                                                class="btn btn-dark add-to-cart"
                                                data-product-id="{{ book.id }}">
                                                {% csrf_token %}
                                                {% bs_icon 'basket2-fill' size='0.9em' %}{{ book.total_price }}₽
                                            </a>
                                            
                                        {% else %}
                                            <a href="{% url "cart:cart_add"%}" 
                                                class="btn btn-dark add-to-cart"
                                                data-product-id="{{ book.id }}">
                                                {% csrf_token %}
                                                {% bs_icon 'basket2-fill' size='0.9em' %}{{ book.price }}₽
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
