{% extends "store/base.html" %}
{% load static %}
{% debug %}
{% load bootstrap_icons %}
{% load store_tags %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Books{% endif %}
{% endblock title %}


{% block content %}

{% if author %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="{{ author.image.url }}" class="rounded-circle" style="width: 100px; height: 100px;">
                    <h3 class="my-2">{{ author.name }}</h3>
                    <p class="text-muted">{{ author.birth }}, {{ author.country }}</p>
                </div>
            </div>
            <div class="col-md-9">
                <p>{{ author.description }}</p>
            </div>
        </div>
    </div>
{% endif %}
    
<div class="container text-center my-5 position-relative">
    <h2 class="mb-4">Все книги {% if category %}в жанре {{ category.name }} {% elif author %}автора {% else %}{% endif %}</h2>
     <!-- Форма фильтров -->
     <div class="dropdown mb-2 ps-5 position-absolute top-0">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Фильтры
        </button>
        <form action="{% url "store:book_list" slug_url %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="checkbox" name="with_discount" id="flexCheckDefault" value="on" {% if request.GET.with_discount == 'on' %}checked{% endif %}>
                {% comment %} <input type="hidden" name="q" value="request.GET.q"> {% endcomment %}
                <label class="form-check-label" for="flexCheckDefault">
                    Товары по акции
                </label>
            </div>
            <p class="text-white mx-3 mt-3">Сортировать:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"
                {% if not request.GET.order_by or request.GET.order_by == default %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="total_price" {% if request.GET.order_by == 'total_price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-total_price" {% if request.GET.order_by == '-total_price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>
    <div class="row justify-content-md-center">
        {% for book in books %}
            <div class="col-md-auto">
                <div class="card text-center mb-3" style="width: 11rem;">
                    <div class="position-relative">
                        <a href="{{ book.get_absolute_url }}"><img src="{% if book.image %}{{ book.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top width="250" height="280"" alt="{{ book.title }}"></a>
                        {% if book.discount %}
                            <span class="badge bg-dark position-absolute top-0 end-0" style="font-size: 18px; ">-{{ book.discount }}%</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">{{ book.name|truncatechars:14}}</h6>
                        <h6 class="card-subtitle mb-2">
                            {% for a in book.author.all %}
                                <a href="{{ a.get_absolute_url }}" class="text-muted text-decoration-none" style="font-size: 15px;">{{ a.name|truncatechars:14 }}</a>
                            {% endfor %}
                        </h6>
                        {% if book.discount %}
                            <a href="{{ book.get_absolute_url }}" class="btn btn-dark">{% bs_icon 'basket2-fill' size='0.9em' %}{{ book.total_price }}₽</a>
                            <span class="text-decoration-line-through text-secondary" style="font-size: 10px;">{{ book.price }}</span>
                        {% else %}
                            <a href="{{ book.get_absolute_url }}" class="btn btn-dark">{% bs_icon 'basket2-fill' size='0.9em' %}{{ book.price }}₽</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Пагинация">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not books.has_previous %}disabled{% endif %}">
            <a class="page-link text-dark " href="{% if books.has_previous %}?{% change_params page=books.previous_page_number %}{% else %}#{% endif %}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in books.paginator.page_range %}
            {% if page >= books.number|add:-2 and page <= books.number|add:2 %}
                <li class="page-item {% if books.number == page %}active{% endif %}">
                    <a class="page-link text-dark bg-white" href="?{% change_params page=page %}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item">
            <a class="page-link text-dark " href="{% if books.has_next %}?{% change_params page=books.next_page_number %}{% else %}#{% endif %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock content %}
    